# Ignore everything
*

# Allow files and directories
!/go.mod
!/go.sum
!/src
!/internal
!/.dockerignore
!/makefile
!/.git

# Ignore unnecessary files inside allowed directories
# This should go after the allowed directories
**/*~
**/*.log
**/.DS_Store
**/Thumbs.db
